<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russian</string>
	<key>CFBundleDisplayName</key>
	<string>Мобильный агент</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rosenergo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Приложение &quot;Мобильный агент&quot; использует доступ к камере вашего устройства, для сохранения фотографий осмотра на сервер ООО &quot;НСГ-&quot;РОСЭНЕРГО&quot;</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Приложение &quot;Мобильный агент&quot; использует ваше местоположение для определения координат, где происходит осмотр ТС.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Приложение &quot;Мобильный агент&quot; использует ваше местоположение для определения координат, где происходит осмотр ТС.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Rosenergo</key>
		<string>Для правильной работы приложения выберите &quot;Высокоточный&quot; режим для геопозиции.</string>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>Приложение &quot;Мобильный агент&quot; использует ваше местоположение для определения координат, где происходит осмотр ТС.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Приложение &quot;Мобильный агент&quot; использует ваше местоположение для определения координат, где происходит осмотр ТС.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Приложение &quot;Мобильный агент&quot; использует доступ к микрофону вашего устройства, для записи видео в осмотре.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
